
.theme svg {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.theme {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

